<ion-header class="ion-no-border custom-header animate-header">
  <div class="header-container">
    <div class="logo-text">
      <h2>Cafe Shop</h2>
    </div>
    
    <div class="greeting-row">
      <div class="menu-button" (click)="openMenu()">
        <ion-icon name="options-outline"></ion-icon>
      </div>
      <div class="greeting-text">
        <h2 class="prismatic-scatter">
          <span class="word">
            <span class="char" *ngFor="let char of pageTitleChars; let i = index" [style.animation-delay]="(i * 0.05 + 0.1) + 's'">
              {{char}}
            </span>
          </span>
        </h2>
        <p class="animate-header" style="animation-delay: 0.6s">Group 16</p>
      </div>
    </div>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="menu-content animate-slide-left">
    <ion-segment [(ngModel)]="selectedCategory" mode="ios" class="animate-item" style="animation-delay: 0.3s">
      <ion-segment-button value="drink">
        <ion-label>Drink</ion-label>
      </ion-segment-button>
      <ion-segment-button value="breakfast">
        <ion-label>Breakfast</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-list lines="none" class="product-list">
      <ion-item *ngFor="let product of filteredProducts; let i = index" class="product-item animate-item glass-shine-card" [style.animation-delay]="(i * 0.1 + 0.4) + 's'" button (click)="openDetail(product)">
        <ion-thumbnail slot="start">
          <img [src]="product.image" alt="{{ product.name }}" />
        </ion-thumbnail>
        <ion-label>
          <h2>{{ product.name }}</h2>
          <p>{{ product.description }}</p>
          <h3 class="price">${{ product.price.toFixed(2) }}</h3>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

   <!-- Spacing for tabs -->
   <div style="height: 100px;"></div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-tab-bar>
    <ion-tab-button [routerLink]="['/home']" routerLinkActive="tab-selected">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button [routerLink]="['/order']" routerLinkActive="tab-selected">
      <ion-icon name="cafe"></ion-icon>
      <ion-label>Order</ion-label>
    </ion-tab-button>
    <ion-tab-button [routerLink]="['/menu']" routerLinkActive="tab-selected">
      <ion-icon name="restaurant"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>
    <ion-tab-button [routerLink]="['/report']" routerLinkActive="tab-selected">
      <ion-icon name="analytics"></ion-icon>
      <ion-label>Report</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
